.SearchNameBox{
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin: 30px 0;
}
.SearchNameBox >input{
    color: #220efa;
    border-radius: 10px;
    border: 1px solid #220efa;
    width: 300px;
    height: 25px;
    padding: 3px 10px;

}
.SearchNameBox >input:focus{
    outline: #220efa;
    border:1px solid #220efa;
}
.category{
    text-align: left;
    margin: 15px 0px;
}

.category button{
    width: 80px;
    background-color: #220efa;
    border: 1px solid #220efa;
    border-radius: 7px;
    padding:6px 10px;
    font-size: 0.8rem;
    /* font-weight: 300; */
    color: #fff;
    letter-spacing: 0.5px;
    margin-right: 10px;
    cursor: pointer;
}

.selected{
    background-color: #fff;
    color: #220efa;
}